<header><a class="ico-back" hl href="/">添加</a><h1 class="ico_down js_dropdown">过户</h1>
    <em class="ico-save js_save" hl></em></header>
<section class="main">
    <div class="addwrap">
        <div class="add_photo">
            <div class="add_img js_img"><img src="" /></div>
            <div class="add_plate"><span>车牌</span><input class="js_plate_number" type="text" /></div>
        </div>
        <ul class="add_form">
            <li class="js_prize_bd"><span>成交价</span><input class="txt_price js_price" type="number" /></li>
            <li><span>车型</span><input class="js_car_type" type="text" /></li>
            <li class="js_region" style="display:none;"><span>转籍地</span><input class="js_txt_region" type="text" /></li>
            <li><span>买方联系方式</span><div class="arrow js_buyer" data-href="/buyer.html"></div></li>
            <li><span>卖方联系方式</span><div class="arrow js_seller" data-href="/seller.html"></div></li>
            <li><span>代理门店</span><div class="arrow js_shop" data-href="/shop.html"></div></li>
        </ul>
    </div>
</section>
