<section class="main startwrap">
    <div class="step1">选出你最爱的时尚搭配</div>
    <ul class="startlist js_list">
    </ul>
</section>
<div class="screen hide js_mask" style="background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; -webkit-transition: opacity 200ms ease 0ms; display: none;"></div>
<div class="startdialog hide js_dialog">
    <b class="btn_close js_close"></b> 
    <img src="" />
    <p class="desc js_desc"></p>
    <div class="action"><b class="btn js_accept" hl>马上下一步</b>
    <p>等不及了吗？继续添加时尚秘密！</p> </div>
</div>
<script id="list" type="text/template">
    {%each(i,item) data%}
        <li data-src="${item.Picture}" data-id="${item.CloseID}" data-open="${item.Url}" data-name="${item.CloseName}"><em style="background-image:url(${item.Cover1})"></em><i style="background-image:url(${item.Cover})"></i></li>
    {%/each%}
</script>
