html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; font-style: normal; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style: none; box-sizing: border-box; }
body, html { width: 100%; overflow-x: hidden; }
img { background: #e7e7e7 url(images/imgbg.png) center center no-repeat; background-size: 60% auto; }
a { text-decoration: none; color: #333; }
.viewport { position: relative; overflow-x: hidden; width: 100%; display: -webkit-box; background: #fff; }
.viewport .view { position: relative; width: 100%; top: 0; left: 0; background: #fff; }
.viewport .view.active { -webkit-transform: none; z-index: 4; }
.viewport .view.stop { z-index: 0; }
.viewport .view.transparent { background: rgba(0,0,0,0); }
.viewport .view.transparent1 { background: rgba(0,0,0,0.5); }
.viewport .view:nth-child(2) { left: -100%; }
.viewport .view:nth-child(3) { left: -200%; }
.viewport .view:nth-child(4) { left: -300%; }
.viewport .view:nth-child(5) { left: -400%; }
.viewport .view:nth-child(6) { left: -500%; }
.viewport .view:nth-child(7) { left: -600%; }
.viewport .view:nth-child(8) { left: -700%; }
.viewport .view:nth-child(9) { left: -800%; }
.viewport .view:nth-child(10) { left: -900%; }

.clearfix:after { height: 0px; display: block; font-size: 0px; content: ''; clear: both; }

.tip { max-width: 60%; position: fixed; left: 50%; padding: 15px; font-size: 18px; top: 50%; background: #000; color: #ffffff; text-align: left; z-index: 2003; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(49,60,75,.35); box-shadow: 0 1px 1px rgba(49,60,75,.35); }

.dialog { background: #f5f5f5; -webkit-border-radius: 7px; overflow: hidden; margin: 0 4%; width: 92%; z-index: 2001; position: absolute; left: 0; top: -10000px; display: none; -webkit-transform: translateZ(0); -webkit-user-select: none; -webkit-user-drag: none; }
.dialog-title { height: 50px; line-height: 50px; font-size: 16px; text-align: center; font-weight: 700; -webkit-border-radius: 3px 3px 0 0; }
.dialog-content { padding: 10px; position: relative; }
.dialog-btns { table-layout: fixed; display: table; border-collapse: collapse; margin: 19px 0 0 0; width: 100%; }
.dialog-btns .dialog-btn:first-child { -webkit-border-bottom-left-radius: 3px; border-left: 0 none; }
.dialog-btns .dialog-btn { padding: 0; font-size: 18px; width: 100%; display: table-cell; border-collapse: collapse; float: none; text-align: center; height: 44px; line-height: 44px; color: #0079FF; border: 1px solid #B1B1B1; background-color: #f7f7f7; border-bottom: 0 none; cursor: pointer; text-decoration: none; }

.prompt-text { border: 1px solid #b1b1b1; background-color: #fff; height: 30px; line-height: 30px; width: 90%; margin: 0px 5%; padding: 0 10px; }
input[type="password"].prompt-text { letter-spacing: 2px; }

.dropdown { display: block; position: absolute; -webkit-transition: opacity 300ms ease 0ms; width: 50%; background: rgba(0,0,0,.9); font-size: 14px; opacity: 1; line-height: 18px; z-index: 2001; overflow: hidden; height: auto; top: -100%; text-align: center; color: #fff; }
.dropdown.hide { opacity: 0; }
.dropdown_bd { width: 100%; }
.dropdown_bd:after { content: ''; height: 0px; overflow: hidden; font-size: 0; clear: both; }
.dropdown_bd > li { display: block; line-height: 32px; border-bottom: 1px solid #fff; }
.dropdown_bd > li:last-child { border-bottom: 0; }
.dropdown_bd > li.curr { color: #c00; font-weight: bold; }

.open_enter_animation-from { z-index: 2; -webkit-transform: translate(100%,0) translateZ(0); -webkit-transition: -webkit-transform 0ms ease 0ms; }
.open_enter_animation-to { -webkit-transform: translate(0,0) translateZ(0); }
.open_exit_animation-from { z-index: 1; -webkit-transform: translate(0,0) translateZ(0); -webkit-transition: -webkit-transform 0ms ease 0ms; }
.open_exit_animation-to { -webkit-transform: translate(-50%,0) translateZ(0); }

.close_enter_animation-from { z-index: 1; -webkit-transform: translate(-50%,0) translateZ(0); -webkit-transition: -webkit-transform 0ms ease 0ms; }
.close_enter_animation-to { -webkit-transform: translate(0,0) translateZ(0); }
.close_exit_animation-from { z-index: 3; -webkit-transform: translate(0,0) translateZ(0); -webkit-transition: -webkit-transform 0ms ease-out 0ms; }
.close_exit_animation-to { -webkit-transform: translate(100%,0) translateZ(0); }



.menu-open_enter_animation-from { z-index: 2; -webkit-transform: translate(-40%,0) translateZ(0); -webkit-transition: -webkit-transform 0ms ease 0ms; }
.menu-open_enter_animation-to { -webkit-transform: translate(0,0) translateZ(0); }
.menu-open_exit_animation-from { -webkit-transform: translate(0,0) translateZ(0); -webkit-transition: -webkit-transform 0ms ease-in 0ms; }
.menu-open_exit_animation-to { -webkit-transform: translate(40%,0) translateZ(0); }

.menu-close_enter_animation-from { -webkit-transform: translate(40%,0) translateZ(0); z-index: 1; -webkit-transition: -webkit-transform 0ms ease 0ms; }
.menu-close_enter_animation-to { -webkit-transform: translate(0,0) translateZ(0); }
.menu-close_exit_animation-from { -webkit-transform: translate(0,0) translateZ(0); -webkit-transition: -webkit-transform 0ms ease-out 0ms; z-index: 3; }
.menu-close_exit_animation-to { -webkit-transform: translate(-40%,0) translateZ(0); }


.search-open_enter_animation-from { z-index: 2; opacity: 0; -webkit-transition: opacity 0ms ease 0ms; }
.search-open_enter_animation-to { opacity: 1; }
.search-open_exit_animation-from { opacity: 1; -webkit-transition: opacity 0ms ease-in 0ms; }
.search-open_exit_animation-to { opacity: .9; }

.search-close_enter_animation-from { opacity: .9; z-index: 1; -webkit-transition: opacity 0ms ease 0ms; }
.search-close_enter_animation-to { opacity: 1; }
.search-close_exit_animation-from { opacity: 1; -webkit-transition: opacity 0ms ease-out 0ms; z-index: 3; }
.search-close_exit_animation-to { opacity: 0; }

.dataloading { position: absolute; top: 30px; right: 0px; left: 0px; bottom: 0px; background: rgba(0,0,0,0); z-index: 2001; display: none; }
.dataloading .msg { display: none; top: 50%; left: 5%; right: 5%; text-align: center; margin: -20px 0 0 0px; position: absolute; }
.dataloading .loading { top: 50%; left: 50%; margin: -20px 0 0 -20px; position: absolute; content: ""; }
.dataloading .loading { width: 40px; height: 40px; text-indent: -10000px; background: url('images/dataloading.png') 0 0 no-repeat; -webkit-background-size: 40px 40px; -webkit-animation-name: ui-loading-anim; -webkit-animation-duration: 1s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: step-start; }
.dataloading.loading-error:before { display: none; }

.refreshing { line-height: 50px; height: 50px; background: #ddd; color: #2E435D; text-align: center; width: 100%; z-index: 1; -webkit-transition: height 300ms ease 0ms; }

header { position: fixed; top: 0px; left: 0px; width: 100%; height: 44px; line-height: 44px; background: #e94609; text-align: center; color: #fff; font-weight: bold; z-index: 200; overflow: hidden; font-size: 18px; overflow: hidden; -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.5); }

header .ico-back, header .ico-menu, header .ico-home, header .ico-add, header .ico-search, header .ico-save { float: left; width: 50px; height: 100%; box-sizing: content-box; position: relative; z-index: 2px; color: #fff; }
header .ico-back.active, header .ico-menu.active, header .ico-home.active, header .ico-search.active, header .ico-add.active, header .ico-save.active { opacity: .7; background-color: #f37c06; }
header .ico-back:before, header .ico-menu:before, header .ico-home:before, header .ico-add:before, header .ico-search:before, header .ico-save:before { background: rgba(0,0,0,0) url(images/site.png) no-repeat 0px 0px; background-size: 320px auto; display: block; content: ""; width: 25px; height: 25px; margin: 10px 0 10px 7px; }

header .ico-menu:before { background-position: 0px -100px; margin-left: 12px; }
header .ico-back { width: auto; font-size: 16px; padding-right: 6px; }
header .ico-back:before { vertical-align: -16px; display: inline-block; background-position: -75px -100px; margin-left: 5px; }
header .ico-save { width: auto; float: right; padding-right: 7px; padding-left: 10px; }
header .ico-save:before { background-position: -100px -100px; }
header .ico-add { float: right; width: 40px; }
header .ico-add:before { background-position: -50px -100px; margin-left: 5px; }
header .ico-search { float: right; width: 40px; }
header .ico-search:before { background-position: -25px -100px; }

header h1 { text-align: center; margin: 0px 47px; position: absolute; right: 0px; left: 0px; top: 0px; z-index: -1; font-size: 18px; letter-spacing: 1px; }
header h1 .hd { display: inline-block; width: 136px; background: url(images/site.png) no-repeat -150px 0px; background-size: 320px auto; height: 25px; margin-top: 10px; }
header h1.ico_down:after { content: ''; display: inline-block; background: url(images/site.png) no-repeat -125px -100px; background-size: 320px auto; height: 25px; width: 15px; margin-top: 12px; vertical-align: -6px; }

footer { position: fixed; bottom: 0px; left: 0px; width: 100%; z-index: 200; overflow: hidden; }

.slidebar { position: relative; }
.slidebar:before { width: 50%; position: absolute; top: 0px; height: 100%; background: #ffd24f; -webkit-box-shadow: #999 0px 0px 16px inset; box-shadow: #999 0px 0px 16px inset; left: 25%; z-index: 0; content: ''; display: block; }
.slidebar ul { width: 200%; -webkit-transform: translate(-20%,0); position: relative; z-index: 1; margin-left: -10%; }
.slidebar ul:after { clear: both; }
.slidebar ul li { width: 20%; float: left; text-align: center; }

.main { }
.content { width: 100%; padding: 10px 3%; }

.btn-radio { width: 44px; height: 44px; display: block; }
.btn-radio:before { background: url(images/site.png) no-repeat -304px -156px; background-size: 320px auto; display: block; content: ''; width: 18px; height: 18px; margin: 13px; }
.btn-radio.selected:before { background-position: -272px -156px; }

.blockBox { width: 100%; }
.blockBox li { display: -webkit-box; }
.blockBox li .blockBoxItem { width: 0px; display: block; -webkit-box-flex: 1; border-radius: 6px; background: #fff; margin: 10px; margin-right: 0px; text-align: center; padding: 10px; box-shadow: 2px 2px 2px #666; }
.blockBox li .blockBoxItem:last-child { margin-right: 10px; }

ul.table { width: 100%; display: table; }
ul.table > li { display: table-row; }
ul.table li > p { display: table-cell; text-align: center; padding-top: 5px; }

.searchwrap { background-color: #e94609; height: 44px; padding: 5px; }
.search { background-color: #fff; height: 34px; width: 100%; display: -webkit-box; }
.search input { display: block; height: 32px; padding-left: 10px; -webkit-box-flex: 1; border: 0; }
.search b { display: block; width: 38px; height: 34px; padding-top: 5px; padding-left: 6px; }
.search b:before { display: block; content: ''; width: 25px; height: 25px; background: url(images/site.png) -200px -100px no-repeat; background-size: 320px auto; }


.homewrap, .sorrywrap { background-color: #f5f5f5; position: relative; padding-top: 1px; text-align: center; }
.logobg { width: 100%; height: 143px; position: absolute; }
.logobg:before, .logobg:after { content: ''; display: inline-block; width: 50%; background: #f5f5f5; box-shadow: 2px 2px 3px #aaaaaa; height: 100%; }
.logobg:before { -webkit-transform: skew(0deg,30deg); -webkit-transform-origin: bottom right; }
.logobg:after { -webkit-transform: skew(0deg,-30deg); -webkit-transform-origin: top left; }

.logo { margin: 57px auto 0 auto; text-align: center; width: 96px; height: 25px; background: url(images/site.png) 0px -75px no-repeat; background-size: 320px auto; z-index: 2; position: relative; }
.homewrap .logo:after { content: ''; display: inline-block; width: 50px; height: 52px; background: url(images/site.png) 0px -100px no-repeat; background-size: 320px auto; margin-top: 60px; }
.hometext { margin: 120px auto 0 auto; width: 225px; height: 115px; background: url(images/site.png) 0px -160px no-repeat; background-size: 320px auto; }

.btn_large, .btn { background: #fff; height: 40px; border: 1px solid #000; line-height: 40px; padding: 0 25px; text-align: center; display: inline-block; font-size: 18px; }
.btn_large.active, .btn.active { background: #f1f1f1; }
.homewrap .btn_large { margin-top: 20px; }
.btn { height: 36px; line-height: 36px; font-size: 16px; padding: 0 15px; }
.btn_red { display: inline-block; height: 36px; line-height: 36px; font-size: 16px; padding: 0 15px; font-weight: bold; color: #fff; background-color: #fe3336; }
.btn_red.active { background-color: #fe6668; }

.startwrap, .writewrap, .prizewrap, .wrongwrap { background-color: #f5f5f5; padding-top: 1px; }
.step1, .step2, .step3 { text-align: center; text-decoration: underline; font-size: 18px; position: relative; padding-top: 32px; }
.step1:before, .step2:before, .step3:before { content: ''; display: block; width: 60px; height: 30px; background: url(images/site.png) -75px -100px no-repeat; background-size: 320px auto; left: 50%; margin: -22px 0 0 -30px; position: absolute; z-index: 0; }
.step2:before { background-position-y: -130px; width: 66px; }
.step3:before { background-position: 0px -275px; width: 66px; }

.step3 .ico_share { display: inline-block; background: url(images/site.png) -75px -275px no-repeat; background-size: 320px auto; width: 37px; height: 20px; }

.startlist { width: 100%; overflow: hidden; padding-top: 15px; padding-left: 16px; -webkit-transform-style: preserve-3d; }
.startlist li { position: relative; width: 47%; margin-right: 2%; margin-bottom: 6px; float: left; }
.startlist li:before { content: ''; display: block; padding-top: 100%; }
.startlist li i, .startlist li em { background: no-repeat; background-size: 100% 100%; width: 100%; position: absolute; top: 0; left: 0; bottom: 0; right: 0; -webkit-transition: all 200ms ease 0ms; }
.startlist li em { -webkit-transition: all 200ms ease 200ms; -webkit-transform: rotateY(90deg); }
.startlist li.curr em { -webkit-transform: rotateY(0deg); }
.startlist li.curr i { -webkit-transform: rotateY(90deg); }

.startnow { font-family: 微软雅黑; font-size: 14px; text-align: center; margin-top: 5px; }
.startwrap .action { text-align: center; margin-top: 10px; }
.startdialog { width: 243px; height: 333px; position: absolute; top: 50%; left: 50%; margin-top: -166px; margin-left: -121px; background: #fff; padding: 15px 29px 0 31px; -webkit-transition: opacity 200ms ease 0ms; display: none; }
.startdialog img { display: block; width: 180px; height: 222px; }
.startdialog .desc { font-size: 12px; padding: 10px 0; }
.startdialog .action { text-align: center; display: -webkit-box; }
.startdialog .action .btn { -webkit-box-flex: 1; display: block; }
.startdialog .action .btn:first-child { margin-right: 5px; }
.startdialog .action .btn:last-child { margin-left: 5px; }

.writenote { -webkit-box-shadow: -3px 4px 8px #e3e3e3; margin: 36px 37px 0 37px; padding: 10px 10px 0 10px; background: #fff; height: 250px; }
.writenote:before { display: block; content: ''; margin: 0 auto; background: url(images/site.png) -150px -100px no-repeat; background-size: 320px auto; width: 120px; height: 35px; }
.writenote textarea { width: 100%; border: 0; background: #fff; height: 194px; line-height: 30px; font-size: 16px; }
.writewrap .action { margin-top: 30px; text-align: center; }

.shareletter { background: url(images/site.png) 0px -305px no-repeat; background-size: 320px auto; width: 238px; height: 169px; margin: 22px auto 0 auto; }

.sharenote, .sharenote1 { font-size: 16px; margin-top: 15px; text-align: center; }
.sharenote1 { font-size: 14px; margin-top: 17px; }
.sharewrap .action { margin-top: 15px; text-align: center; }

.sharedialog, .addressdialog { width: 243px; height: 254px; position: absolute; top: 50%; left: 50%; margin-top: -127px; margin-left: -121px; background: #fff; padding: 15px 29px 0 31px; -webkit-transition: opacity 200ms ease 0ms; display: none; }
.sharedialog .hd, .addressdialog .hd { text-align: center; text-decoration: underline; font-weight: bold; color: #000; font-size: 16px; }
.sharedialog ul, .addressdialog ul { padding-top: 15px; }
.sharedialog li, .addressdialog li { margin-top: 10px; padding-right: 10px; }
.sharedialog li input, .addressdialog li input { background: #f7f5f6; border: 0; height: 33px; padding-left: 10px; width: 100%; }
.sharedialog .action, .addressdialog .action { text-align: center; margin-top: 12px; }
.sharedialog .btn_red, .addressdialog .btn_red { }

.addressdialog { width: 300px; height: 300px; margin-top: -150px; margin-left: -150px; }

.hide { opacity: 0; }

.sorryimg { display: block; margin: 0px auto; background: url(images/site.png) -130px -269px no-repeat; background-size: 320px auto; width: 190px; height: 30px; margin-top: 30px; }
.sorrytext { font-weight: bold; padding-top: 80px; }
.sorrytext b { font-size: 22px; display: block; }
.sorrytext em { font-size: 17px; display: block; }

.prizewrap .logo { margin-top: 22px; }
.prizebg { background: #fff url(images/prizebg.png) 0px 0px no-repeat; background-size: 100% auto; margin: 10px auto 0 auto; width: 248px; height: 307px; border-radius: 4px; padding-top: 1px; -webkit-box-shadow: 2px 2px 6px #ddd; text-align: center; }
.prizebg b { display: block; text-align: center; font-size: 20px; margin-top: 54px; }
.prizebg p { display: block; text-align: center; font-size: 16px; margin-top: 21px; text-decoration: underline; }
.prizebg span { text-align: center; font-size: 14px; }
.prizebg img { width: 137px; height: 137px; display: block; margin: 10px auto 0 auto; }

.wronghd,.righthd { padding-top: 22px;  }
.wronghd:before,.righthd:before { content: ''; display: block; background: url(images/site.png) no-repeat -40px -200px; background-size: 320px auto; width:154px; height:69px; margin: 0 auto; }
.wrongtext,.righttext {height:187px;-webkit-box-shadow: -3px 4px 8px #e3e3e3; margin: 36px 37px 0 37px; background:#fff; line-height: 25px; padding: 13px 15px 0px 15px; font-size: 15px;position: relative;}
.wrongtext:after,.righttext:after { content: ''; display: block; background: url(images/site.png) no-repeat -250px -300px; background-size: 320px auto; width:30px; height:30px; float: right; margin-top: 10px; }
.wrongtext li{ border-bottom: 1px solid #ccc;  height: 25px;}

.righttext { height: auto; padding-bottom: 55px; }
.righthd:before { width: 208px; height:37px; background-position: 0 -25px;}

.jointext{ text-align: center; margin-top: 28px; font-size: 15px;}
.joinbtn { text-align: center;width: 183px; height:35px; background:#fe3335; display: block; font-size: 14px; margin: 10px auto 0 auto; color:#fff;}
.joinbtn:before {content: ''; display: inline-block; background: url(images/site.png) no-repeat 0px 0px; background-size: 320px auto; width:25px; height:25px; margin-top: 4px; vertical-align: -7px;}

.gotext { font-size: 12px; margin-top: 12px; margin-bottom: 10px; text-align: center; }
.action{ text-align: center; }

.sorrywrap .gotext{ padding-top: 90px; }